{% extends "layout.html" %}



{% block content %}

   {% for recipe in recipes %}
   <div class="recipe">
      <small>{{recipe.date_posted}}</small>
      <small>{{recipe.cook_time}}</small>
      <small>{{recipe.author.username}}</small>
      <a href="{{ url_for('recipe', recipe_id=recipe.id) }}"><h1>{{recipe.title}}</h1></a>
      <img src="{{url_for("static", filename="pics/" + recipe.image_file)}}" alt="">
      <p>{{recipe.description}}</p>
      <br> <br>

   </div>
   {% endfor %}

{% endblock content %}