{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth_forms.css') }}">
{% endblock css %}

{% block content %}
    <div class="auth">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="input-container">
                <legend>Register</legend>
                <div class="input">
                    {{ form.username.label() }} <br>
                    {% if form.username.errors %}
                        {{ form.username() }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username() }}
                    {% endif %}
                </div>
                <div class="input">
                    {{ form.email.label() }} <br>
                    {% if form.email.errors %}
                        {{ form.email() }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email() }}
                    {% endif %}
                </div>
                <div class="input">
                    {{ form.password.label() }} <br>
                    {% if form.password.errors %}
                        {{ form.password() }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password() }}
                    {% endif %}
                </div>
                <div class="input">
                    {{ form.confirm_password.label() }} <br>
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password() }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password() }}
                    {% endif %}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="submit-btn") }}
            </div>
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Login Here</a>
            </small>
        </form>
    </div>
{% endblock content %}