{% extends "layout.html" %}

{% block content %}
<div class="auth">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="input-container">
            <legend>Register</legend>
            <div class="input">
                {{ form.username.label() }} <br>
                {% if form.username.errors %}
                    {{ form.username() }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username() }}
                {% endif %}
            </div>
            <div class="input">
                {{ form.email.label() }} <br>
                {% if form.email.errors %}
                    {{ form.email() }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email() }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture() }}
                {% if form.picture.errors %}
                  {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span> <br>
                  {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit(class="submit-btn") }}
        </div>
    </form>
</div>
{% endblock content %}